p {
  margin: 50px;
  background-color:#1e1e22;
}

body {background-color: #1e1e22;}

.p1 {
  font-family: "Lucida Console", "Consolas", monospace;
  color: white;
}

.p2 {
  font-family: "Lucida Console", "Consolas", monospace;
  color: white;
}

.footer {
  position: fixed;
  left: 60px;
  bottom: 0;
  width: 100%;
  color: white;
  font-family: "Lucida Console", "Consolas", monospace;
  color: white;
}

@media screen and (min-width: 901px) {
  p.p1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 900px) {
  p.p1 {
    font-size: 4em;
  }
}

@media screen and (min-width: 901px) {
  p.p2 {
    font-size: 3.25em;
  }
}

@media screen and (max-width: 900px) {
  p.p2 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 901px) {
  div.footer {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 900px) {
  div.footer {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 901px) {
  p {
    margin: 60px;
  }
}

@media screen and (max-width: 900px) {
  p {
    margin: 30px;
  }
}
