p {
  margin: 50px;
  background-color:#1e1e22;
}

body {background-color: #1e1e22;}

.p1 {
  font-family: "Lucida Console", "Consolas", monospace;
  color: white;
}

.p2 {
  font-family: "Lucida Console", "Consolas", monospace;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-family: "Lucida Console", "Consolas", monospace;
  color: white;
}

@media screen and (min-width: 1201px) {
  p.p1 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 1200px) {
  p.p1 {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 1201px) {
  p.p2 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 1200px) {
  p.p2 {
    font-size: 3em;
  }
}

@media screen and (min-width: 861px) {
  div.footer {
    font-size: 1.5em;
    left: 50px;
  }
}

@media screen and (max-width: 860px) {
  div.footer {
    font-size: 1.5em;
    left: 5.8vw;
  }
}

@media screen and (min-width: 861px) {
  p {
    margin: 50px;
  }
}

@media screen and (max-width: 860px) {
  p {
    margin: 5.8vw;
  }
}
